/* App.css */
.app-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente más moderna */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f6f8; /* Un fondo general suave */
}

.app-header {
  background-color: #000000;
  color: white;
  padding: 25px 20px; /* Más padding vertical */
  text-align: left; /* Alineación a la izquierda para el título */
  border-bottom: 2px solid #777777; /* Borde inferior más marcado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  display: flex; /* Para alinear título y navegación */
  justify-content: space-between; /* Espacio entre título y navegación */
  align-items: center; /* Centrar verticalmente */
}

.app-header h1 {
  margin: 0; /* Eliminar margen predeterminado */
  font-size: 2em; /* Título más grande */
  font-weight: 500; /* Peso de fuente más ligero */
}

.app-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.app-header nav ul li {
  margin-left: 20px; /* Más espacio entre los enlaces */
}

.app-header nav ul li:first-child {
  margin-left: 0; /* Sin margen para el primer enlace */
}

.app-header nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

.app-header nav a:hover {
  background-color: rgba(255, 255, 255, 0.15); /* Fondo ligeramente más oscuro al pasar el ratón */
}

.app-main {
  flex-grow: 1;
  padding: 30px; /* Más padding en el contenido principal */
}

.app-footer {
  background-color: #343a40; /* Gris oscuro profesional */
  color: #f8f9fa; /* Texto gris claro */
  text-align: center;
  padding: 15px;
  border-top: 1px solid #495057;
  font-size: 0.9em;
}

.app-footer p {
  margin: 0;
}

